
body {
    background-color: white;
}

a, a:link, a:visited, a:hover, a:active {
    color: #777;
}

h1 {
    color: white;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
    font-size: 3.2rem;
}


.ReportBox {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 1050px;
    padding: 80px 30px;
    box-sizing: border-box;
    background-color: green;
    border:double;
    border-color:black;
}

.lblError, .lblSuccess {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.lblSuccess {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.lblNIC, .lblName, .lblImage, .lblNIC, .lblCropType, .lblMFG, .lblEXP, .lblLocation {
    font-weight: bold;
    color: white;
    font-size: 18px;
}

.txtNIC, .txtName, .ImageUpload, .txtCropType, .txtMFG, .txtEXP, .btnSubmit {
    width: 30%;
    margin-bottom: -20px;
}

.txtNIC, .txtName, .txtCropType, .txtMFG, .txtEXP {
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    height: 40px;
    color: seagreen;
    font-size: 12px;
    background-color: transparent;
}

.CalendarMFG {
    left: 12.5%;
    position: absolute;
}

.CalendarEXP {
    left: 59%;
    position: absolute;
}

::placeholder, .ImageUpload {
    color: silver;
}

.btnSubmit {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    height: 40px;
    font-size: 20px;
    color: black;
    background-color: #4cff00;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    text-align: center;
}

    .btnSubmit:hover {
        background-color: red;
        color: white;
    }

#footer {
    clear: both;
    width: auto;
    height: 60px;
    background-image: url(https://image.shutterstock.com/image-photo/panoramic-collection-fresh-fruits-vegetables-260nw-769458256.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
}
