body {
    background-color: limegreen;
}

#banner {
    height: 200px;
    border: 3px solid #E3E3E3;
    background-image: url(https://www.globalcommunities.org/files/images/ecaf-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper ul {
    list-style: none;
}

#wrapper ul li {
    background-color: green;
    border: solid 1px limegreen;
    width: 178px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    float: left;
    position: relative;
    border-radius: 10px;
}    

#wrapper ul li a {
     text-decoration: none;
     color: white;
     display: block;
     font-size: 20px;
}

#wrapper ul li a:hover {
      background-color: greenyellow;
      color: black;
      height: 40px;
      border-radius: 10px;
}

.ReportBox {
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 1025px;
    padding: 80px 30px;
    box-sizing: border-box;
    background-color: white;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: forestgreen;
    font-size: 40px;
}

.lblNIC, .lblName, .lblContactNo, .lblNIC, .lblCropType {
    font-weight: bold;
    color: black;
    font-size: 15px;
}

.txtNIC, .txtName, .txtContactNo, .txtCropType, .btnSubmit {
    width: 100%;
    margin-bottom: 20px;
}

.txtNIC, .txtName, .txtContactNo, .txtCropType {
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 12px;
    background-color: transparent;
}

::placeholder {
    color: rgb(85, 75, 75);
}

.btnSubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(255, 9, 9);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

.btnSubmit:hover {
     background-color: #4cff00;
}

#footer {
    clear: both;
    width: auto;
    height: 60px;
    background-image: url(https://image.shutterstock.com/image-photo/panoramic-collection-fresh-fruits-vegetables-260nw-769458256.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
}
